body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://www.teahub.io/photos/full/123-1234207_papier-peint-3d-color.jpg);
}

#title{
    text-align: center;
    margin-top: 5vh;
  }
  #display{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  #increase-size{
    font-size: 100px;
  }
  input {
    all: unset;
  }
  select {
  border:0px;
  outline:0px;
  background: transparent;
}
button{
  border: 0px;
outline: 0px;
height: 31px;
width: 150px;
color: red;
border-radius: 5px;
background-color: aquamarine;
}